.bgSection {
  background-image: url(/driving3.jpeg);
  background-size: cover; /* Hace que la imagen cubra toda la sección sin deformarse */
  background-position: center; /* Centra la imagen en la sección */
  background-repeat: no-repeat; /* Evita que la imagen se repita si no llena todo el contenedor */
}
